/*

COLORS

DARK-GRAY: #222831 / rgb(34, 40, 49)
GRAY: #393E46 / rgb(57, 62, 70)
BLUE: #0092CA / rgb(0, 146, 202)
WHITE: #EEEEEE / rgb(238, 238, 238)

*/

/*
COLOR PALETTE: 

1) #364f6b / rgb(54,79,107) - blue
2) #3fc1c9 / rgb(63,193,201) - light-blue
3) #f5f5f5 / rgb(245,245,245) - whitesmoke
4) #fc5185 / rgb(252,81,133) - pink
5) #212121 / rgb(33,33,33) - dark-gray
6) #757575 / rgb(117,117,117)- gray
7) #BDBDBD / rgb(189,189,189) - light-gray
8) #ffffff / rgb(255,255,255) - white


*/

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200&display=swap");

html,
body {
  background-color: #212121;
}
#appContainer {
  background-color: #212121;
  width: 100%;
}

#appContainer h1,
#appContainer h2,
#appContainer h3,
#appContainer h4,
#appContainer h5,
#appContainer h6 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 200;
}

* {
  color: rgb(238, 238, 238);
}
/*------------------------------------------------------------------- HOME CONTENT -------------------*/
/*
COLOR PALETTE: 

1) #364f6b / rgb(54,79,107) - blue
2) #3fc1c9 / rgb(63,193,201) - light-blue
3) #f5f5f5 / rgb(245,245,245) - whitesmoke
4) #fc5185 / rgb(252,81,133) - pink
5) #212121 / rgb(33,33,33) - dark-gray
6) #757575 / rgb(117,117,117)- gray
7) #BDBDBD / rgb(189,189,189) - light-gray
8) #ffffff / rgb(255,255,255) - white


*/

#homeContainer {
  background-image: url("./assets/endless-constellation.svg");
  background-size: auto;
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent overlay color */
  background-blend-mode: multiply; /* Blend mode for opacity effect */
}

/*------------------------------------------------------------------- navbar -------------------*/

/*
COLOR PALETTE: 

1) #364f6b / rgb(54,79,107) - blue
2) #3fc1c9 / rgb(63,193,201) - light-blue
3) #f5f5f5 / rgb(245,245,245) - whitesmoke
4) #fc5185 / rgb(252,81,133) - pink
5) #212121 / rgb(33,33,33) - dark-gray
6) #757575 / rgb(117,117,117)- gray
7) #BDBDBD / rgb(189,189,189) - light-gray
8) #ffffff / rgb(255,255,255) - white
*/

#navbar {
  width: 60%;
  z-index: 100;
}

#navLogo {
  width: 60px;
  height: auto;
}

#navLogo img {
  width: 60px;
  height: auto;
}

.SectionButton {
  width: 90px;
  height: 40px;
  background-color: #364f6b;
  border: none;
  border-radius: 12px;
  position: relative;
  transition: width 0.4s, height 0.4s;
}

.SectionButton:hover,
.SectionButton.active {
  width: 96px;
  height: 46px;
  background-color: #3fc1c9;
}

.SectionButton:hover .buttonText,
.SectionButton.active .buttonText {
  color: #ffffff;
  display: inline-block;
}
/*------------------------------------------------------------------- PROFILE -----------------*/

/*
COLOR PALETTE: 

1) #364f6b / rgb(54,79,107) - blue
2) #3fc1c9 / rgb(63,193,201) - light-blue
3) #f5f5f5 / rgb(245,245,245) - whitesmoke
4) #fc5185 / rgb(252,81,133) - pink
5) #212121 / rgb(33,33,33) - dark-gray
6) #757575 / rgb(117,117,117)- gray
7) #BDBDBD / rgb(189,189,189) - light-gray
8) #ffffff / rgb(255,255,255) - white
*/

#profileIntro {
  max-width: 700px;
}

.profileImage {
  width: 300px;
  height: auto;
}

.profileImage img {
  width: 300px;
  height: auto;
}

@media screen and (max-width: 400px) {
  .profileImage {
    width: 220px;
    height: auto;
  }

  .profileImage img {
    width: 220px;
    height: auto;
  }
}

#skillsIcons {
  background-color: rgba(63, 193, 201, 0.2);
  background-image: url("./assets/skillsBackground.svg");
  background-size: cover; /* Ensures the image covers the entire div */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center; /* Centers the image in the div */
  border-radius: 16px;
  max-width: 500px;
}

#skillsIcons i {
  font-size: 5em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

@media screen and (max-width: 991px) {
  #skillsIcons i {
    font-size: 4em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
  }
}

@media screen and (max-width: 781px) {
  #skillsIcons i {
    font-size: 3em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
  }
}

@media screen and (max-width: 591px) {
  #skillsIcons i {
    font-size: 2.4em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
  }
}

/*------------------------------------------------------------------- PROFILE -----------------*/

/*
COLOR PALETTE: 

1) #364f6b / rgb(54,79,107) - blue
2) #3fc1c9 / rgb(63,193,201) - light-blue
3) #f5f5f5 / rgb(245,245,245) - whitesmoke
4) #fc5185 / rgb(252,81,133) - pink
5) #212121 / rgb(33,33,33) - dark-gray
6) #757575 / rgb(117,117,117)- gray
7) #BDBDBD / rgb(189,189,189) - light-gray
8) #ffffff / rgb(255,255,255) - white


*/

/*------------------------------------------------------------------- PROJECT -----------------*/

/*
COLOR PALETTE: 

1) #364f6b / rgb(54,79,107) - blue
2) #3fc1c9 / rgb(63,193,201) - light-blue
3) #f5f5f5 / rgb(245,245,245) - whitesmoke
4) #fc5185 / rgb(252,81,133) - pink
5) #212121 / rgb(33,33,33) - dark-gray
6) #757575 / rgb(117,117,117) - gray
7) #BDBDBD / rgb(189,189,189) - light-gray
8) #ffffff / rgb(255,255,255) - white


*/

.projectName {
  color: #fc5185;
}

#projectImgContainer {
  max-width: 400px;
  height: auto;
  border-radius: 16px;
}

#projectImgContainer img {
  max-width: 400px;
  height: auto;
  border-radius: 16px;
}

.projectDetailsButton {
  color: #f5f5f5;
  text-decoration: none;
  background-color: #364f6b;
  border: 2px solid #3fc1c9;
  border-radius: 6px;
  transition: background-color 0.8s ease, border-color 0.8s ease;
}

.projectDetailsButton:hover {
  background-color: #3fc1c9;
}

@media screen and (max-width: 541px) {
  #projectImgContainer {
    max-width: 300px;
    height: auto;
    border-radius: 16px;
  }
  #projectImgContainer img {
    max-width: 300px;
    height: auto;
    border-radius: 16px;
  }
}

@media screen and (max-width: 400px) {
  #projectImgContainer {
    max-width: 280px;
    height: auto;
    border-radius: 16px;
  }
  #projectImgContainer img {
    max-width: 280px;
    height: auto;
    border-radius: 16px;
  }
}

/*-----------------------------------------------------1------------- CERTIFICATES -----------------*/

/*
COLOR PALETTE: 

1) #364f6b / rgb(54,79,107) - blue
2) #3fc1c9 / rgb(63,193,201) - light-blue
3) #f5f5f5 / rgb(245,245,245) - whitesmoke
4) #fc5185 / rgb(252,81,133) - pink
5) #212121 / rgb(33,33,33) - dark-gray
6) #757575 / rgb(117,117,117)- gray
7) #BDBDBD / rgb(189,189,189) - light-gray
8) #ffffff / rgb(255,255,255) - white


*/

#certificatesCarousel {
  height: 80vh;
}

#carouselCard {
  width: 400px;
  height: 00px;
}

.carouselImage {
  width: 400px;
  height: 600px;
}

#cardContainer {
  width: 1100px;
  border-radius: 20px;
  background-color: #121212;
  padding: 40px;
  padding-left: 0px;
  border: 2px solid #c0c0c0;
  min-height: 500px; /*   allows the card container to stay the same height */
}

.newCarouselImage {
  width: 400px;
  height: 300px;
  margin-left: -50px;
}

@media screen and (max-width: 1199px) {
  #cardContainer {
    width: 700px;
    height: 840px;
    padding-left: 40px;
    padding-top: 0px;
    text-align: center;
  }
  .newCarouselImage {
    width: 500px;
    height: 340px;
    margin-left: 0;
    margin-top: 20px;
  }
}

@media screen and (max-width: 890px) {
  #cardContainer {
    width: 600px;
    height: 820px;
    padding-left: 40px;
    padding-top: 0px;
    text-align: center;
  }
  .newCarouselImage {
    width: 500px;
    height: 340px;
    margin-left: 0;
    margin-top: 20px;
  }
}

@media screen and (max-width: 767px) {
  #cardContainer {
    width: 470px;
    height: 860px;
    padding-left: 40px;
    padding-top: 0px;
    text-align: center;
  }
  .newCarouselImage {
    width: 400px;
    height: 260px;
    margin-left: 0;
    margin-top: 20px;
  }
}

@media screen and (max-width: 540px) {
  #cardContainer {
    width: 340px;
    height: 1000px;
    padding-left: 40px;
    padding-top: 0px;
    text-align: center;
  }
  .newCarouselImage {
    width: 320px;
    height: 220px;
    margin-left: 0;
    margin-top: 20px;
  }
}

@media screen and (max-width: 480px) {
  #cardContainer {
    width: 280px;
    height: 1020px;
    padding-left: 40px;
    padding-top: 0px;
    text-align: center;
  }
  .newCarouselImage {
    width: 240px;
    height: 160px;
    margin-left: 0;
    margin-top: 20px;
  }
}

@media screen and (max-width: 420px) {
  #cardContainer {
    width: 220px;
    height: 980px;
    padding-left: 40px;
    padding-top: 0px;
    text-align: center;
  }
  .newCarouselImage {
    width: 200px;
    height: 130px;
    margin-left: 0;
    margin-top: 20px;
  }
}

.inTextCard {
  text-align: start;
}

.button-container {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
}

/*------------------------------------------------------------------- CONTACT -----------------*/

/*
COLOR PALETTE: 

1) #364f6b / rgb(54,79,107) - blue
2) #3fc1c9 / rgb(63,193,201) - light-blue
3) #f5f5f5 / rgb(245,245,245) - whitesmoke
4) #fc5185 / rgb(252,81,133) - pink
5) #212121 / rgb(33,33,33) - dark-gray
6) #757575 / rgb(117,117,117)- gray
7) #BDBDBD / rgb(189,189,189) - light-gray
8) #ffffff / rgb(255,255,255) - white


*/

#contactFormContainer {
  width: 600px;
  background: rgba(54, 79, 107, 0.5);
  border-radius: 16px;

  border: 1px solid rgba(255, 255, 255, 0.73);
}

@media screen and (max-width: 700px) {
  #contactFormContainer {
    width: 500px;
  }
}
@media screen and (max-width: 600px) {
  #contactFormContainer {
    width: 400px;
  }
}
@media screen and (max-width: 450px) {
  #contactFormContainer {
    width: 250px;
  }
}

.inputName {
  color: rgb(255, 255, 255);
  border: 1px solid rgb(189, 189, 189);
  background-color: rgba(63, 193, 201, 0.7);
}

.inputName::placeholder {
  color: rgb(255, 255, 255);
  opacity: 0.7;
}

.inputEmail {
  color: rgb(255, 255, 255);
  border: 1px solid rgb(189, 189, 189);
  background-color: rgba(63, 193, 201, 0.7);
}

.inputEmail::placeholder {
  color: rgb(255, 255, 255);
  opacity: 0.7;
}

.inputMessage {
  color: rgb(255, 255, 255);
  border: 1px solid rgb(189, 189, 189);
  background-color: rgba(63, 193, 201, 0.7);
}

.inputMessage::placeholder {
  color: rgb(255, 255, 255);
  opacity: 0.7;
}

#contactFormButton {
  border-style: none;
  border-radius: 10px;
  background-color: #364f6b;
  color: #ffffff;
  height: 40px;
  line-height: 20px;
  padding: 10px 16px;
  text-decoration: none;
  transition: border-radius 1.2s ease, background-color 1.2s ease;
  border: 1px solid rgb(189, 189, 189);
}

#contactFormButton:hover {
  border-radius: 8px;
  background-color: #f5f5f5;
  color: #212121;
  border: 2px solid #757575;
}
